[submodule "digital-garden-hugo-theme"]
	path = digital-garden-hugo-theme
	url = https://github.com/apvarun/digital-garden-hugo-theme
[submodule "themes/digitalgarden"]
	path = themes/digitalgarden
	url = https://github.com/apvarun/digital-garden-hugo-theme.git
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
